@charset "UTF-8";

.discussionContainer {
	background-color: #18123d;
}

#bigArea {
	width: 95%; 
	margin: 40px auto 0 auto;  
	background-color: rgba(255,255,255,0.25); 
	border-radius: 20px;
	padding: 40px
}

.areaBox {
	margin-top: 30px; 
	width: 100%;
	background-color: #F2F2F2;
	box-shadow: 5px 5px 10px -4px black;
	border-radius: 20px;
	padding: 20px;
}

.discussionTitle {
	margin: 20px 0 0 20px;
	font-family: Lucida Console;
}

.picArea {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#nameList {
	padding: 20px
}
.pic {
	width: 250px;
	margin-top: 20px;
	cursor: pointer
}

.facePic {
	width: 100px;
	margin-top: 20px;
	cursor: pointer
}